# Docker
.env
docker-compose.override.yml

# SIU Toba específicos
/toba/
/var/
*.log

# Archivos temporales
*.tmp
*.bak
*~

# IDE
.vscode/
.idea/
*.swp
*.swo
.yarnrc
.cache
.composer
CLAUDE.md
GEMINI.md

# Sistema operativo
.DS_Store
Thumbs.db
.serena
instalacion
.bash_history
